# Dependencies
##########################
node_modules/
bower_components/
packages/

# Temporary directories
##########################
temp/
tmp/
.tmp/
.temp/

# User files
##########################
*.user
*.suo
